/* Estilo general */



body {
    background-color: #316CA8 !important;
    font-family: Arial, sans-serif;
    color: #2F6BA8;
    margin: 0;
    padding: 20px;
}

img {
    max-width: 100%;
}

a {
    color: #2F6BA8;
    text-decoration: none;
}


/*Menu principal*/

h1, h2, h3, h4, h5 {
    font-family: "Poppins", sans-serif;
    color: #2F6BA8;
}

.material-symbols-outlined {
    vertical-align: middle;
}

body > header {
    width: 90%;
    margin: 0 auto;
}

header nav.navbar {
    background-color: #F3F0E6;
    border-radius: 15px;
    padding: 10px;
}

header .container {
    max-width: none;
}

header .navbar-brand {
    color: #2F6BA8;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    border-radius: 10px;
}

header .nav-link {
    color: #2F6BA8;
    font-weight: 700;
    padding: 10px;

}

header .nav-link:hover {
    background-color: #6BA3C0;
    color: #fff;
}


/* ejercicios */

#enlace-ejercicios {
    background-color: #6BA3C0;
    color: #fff;
}


/* logout */

#boton-menu {
    margin-left: auto;
}


/*principal*/

#panel-principal {
    width: 96%;
    max-width: none;
    margin: 15px auto;
    padding: 30px;
    background-color: #D9D9D9;
    border-radius: 20px;
    min-height: 80vh;
}


#encabezado-ejercicios h1 {
    font-size: 36px;
    font-weight: 800;
    margin-bottom: 10px;
}

#encabezado-ejercicios p {
    font-size: 17px;
}

#filtros {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin: 25px 0;
    flex-wrap: wrap;
}

.filtro {
    padding: 12px 28px;
    font-size: 17px;
    border-radius: 15px;
}
.filtro:hover {
    background-color: #6BA3C0;
    color: white;
}

.filtro.activo {
    background-color: #6BA3C0;
    color: white;
}
.filtro a{
    text-decoration: none;
}

/*lista de ejercicios*/

#lista-ejercicios {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 22px;
}

.tarjeta-ejercicio {
    display: flex;
    align-items: center;
    gap: 18px;
    padding: 18px;
    min-height: 120px;
    border: 1px solid #8EC5DF;
    border-radius: 16px;
}

.tarjeta-ejercicio img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 12px;
    flex-shrink: 0;
}

.informacion-ejercicio h2 {
    font-size: 21px;
    font-weight: 800;
    margin-bottom: 8px;
}

.informacion-ejercicio p {
    font-size: 16px;
    margin-bottom: 8px;
}

.informacion-ejercicio small {
    font-size: 14px;
}
@media (max-width: 768px) {
    #panel-principal {
        width: 94%;
        padding: 18px;
    }

    #lista-ejercicios {
        grid-template-columns: 1fr;
    }

    .tarjeta-ejercicio {
        padding: 12px;
        gap: 12px;
    }

    .tarjeta-ejercicio img {
        width: 65px;
        height: 65px;
    }

    .informacion-ejercicio h2 {
        font-size: 18px;
    }

    .informacion-ejercicio p {
        font-size: 14px;
    }
}

    body > footer {
    color: #fff;
    text-align: center;
    padding: 1rem;
}
