
html{
    background-color: #316CA8 ;
}

body {
     background-color: #316CA8 !important;
    font-family: Arial, sans-serif;
    color: #2F6BA8;
    margin: 0;
    padding: 20px;
    
}
main {
    background-color: transparent;
}

img {
    max-width: 100%;
}

a {
    color: #2F6BA8;
    text-decoration: none;
}

button {
    font-family:Arial, sans-serif;
    cursor: pointer;
}


h1, h2, h3, h4, h5 {
    font-family: "Poppins", sans-serif;
    color: #2F6BA8;
}

.material-symbols-outlined {
    vertical-align: middle;
}

body > header {
    width: 90%;
    margin: 0 auto;
}

header nav.navbar {
    background-color: #F3F0E6;
    border-radius: 15px;
    padding: 10px;
}

header .container {
    max-width: none;
}

header .navbar-brand {
    color: #2F6BA8;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    border-radius: 10px;
}

header .nav-link {
    color: #2F6BA8;
    font-weight: 700;
    padding: 10px;

}

header .nav-link:hover {
    background-color: #6BA3C0;
    color: #fff;
}


#menu-principal #logo {
    background-color: transparent;
    padding: 0 ;
    border: none;
}

#menu-principal #logo img {
    width: 45px;
    height: 45px;
    object-fit: contain;
}

#enlace-pacientes {
    background-color: #6BA3C0;
    color: white;
}

#panel-principal {
    width: 90%;
    margin: 15px auto 0;
    background-color: #DADADA;
    border-radius: 18px;
    padding: 20px;
}

#titulo-pacientes {
    color: #2F6BA8;
    font-size: 25px;
    font-weight: 800;
    margin-bottom:  5px;
}

#texto-pacientes {
    color: #2F6BA8;
    font-size: 15px;
    margin-bottom: 20px;
}

#boton-agregar {
    background-color: #6BA3C0;
    color: white;
    border-radius: 12px;
    font-family:Arial, sans-serif; 
    font-weight: 700;
    border: none;
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 20px;
}

#boton-agregar:hover {
    background-color: #2F6BA8;
    
}


#tabla-pacientes thead th {
    background-color: #6BA3C0;
    color: white;
    font-weight: 700;
    border: none;
}


#tabla-pacientes tbody td {
    color: #2F6BA8;
    background-color: #F3F0E6;
    font-size: 13px;
}

#tabla-pacientes tbody tr {
    border-bottom: 1px solid #9CC5D8;
}


.boton-actualizar {
    background-color: #6FB589;
    color: white;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    border-radius: 8px;
}

.boton-actualizar:hover {
    background-color: #568F6C;
    color: white;
}


.boton-eliminar {
    background-color: #9A3B30;
    color: white;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    border-radius: 8px;
}

.boton-eliminar:hover {
    background-color: #7D2F26;
    color: white;
}


    