/* Estilo general*/

html {
    background-color: #316CA8;
}

body {
    background-color: #316CA8;
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    
}


/* */

#ejercicio-respiracion {
    min-height: 100vh;
    background-color: #316CA8;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    color: white;

}


/*Boton regresar */
#boton-regresar {
    position: absolute;
    top: 15px;
    left: 15px;
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
}

#boton-regresar span {
    font-size: 30px;
}


/* Inf*/

#informacion-ejercicio {
    text-align: center;
    margin-top: 15px;
}

#informacion-ejercicio h1 {
    color: white;
    font-size: 20px;
    font-weight: 800;
    margin: 0;
}

#informacion-ejercicio p {
    color: white;
    font-size: 10px;
    margin: 0;
}


/* circulo */

#circulo-respiracion {
    width: 220px;
    height: 220px;
    margin-top: 20px;
    background-color: #6BA3C0;
    border-radius: 50%;
    border: 18px solid rgba(107, 163, 192, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    animation: respirar 8s infinite ease-in-out;

}


/* Imagn nube */

#circulo-respiracion img {
    width: 120px;
    height: 120px;
    object-fit: contain;
}


/*indicador*/

#indicador-respiracion {
    width: 22px;
    height: 4px;
    background-color: #9CC5D8;
    border-radius: 5px;
    margin-top: 18px;
}


/* Boton para pausa */

#boton-pausar {
    background-color: #6BA3C0;
    color: white;
    border: none;
    border-radius: 15px;
    padding: 6px 18px;
    margin-top: 10px;
    font-family: 'Nunito', sans-serif;
    font-size: 12px;
    display: flex;
    align-items: center;
    gap: 5px;
}

#boton-pausar span {
    font-size: 15px;
}


