
* {
    box-sizing: border-box;
    
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #F1F6FC;
    color: #263B53;
}

.bienvenida {
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.contenido {
    width: 100%;
    padding: 35px;
    gap: 20px;
}

.logo {
    width: 130px;
    height: 130px;
    object-fit: contain;
    margin-bottom: 20px;
}

.texto h1 {
    color: #316CA8;
    font-size: 2.8rem;
    font-weight: bold;
}

.texto h2 {
    font-size: 1.35rem;
    margin-bottom: 18px;
}

.texto p {
    font-size: 1.05rem;
    line-height: 1.7;
    margin-bottom: 28px;
}

.opciones {
    display: flex;
    flex-direction: column;
    gap: 14px;
    max-width: 330px;
    margin: auto;
}

.btn-azul,
.btn-claro {
    padding: 12px;
    border-radius: 12px;
    text-decoration: none;
}

.btn-azul {
    background-color: #316CA8;
    color: white;
}

.btn-azul:hover {
    background-color: #245582;
    color: white;
}

.btn-claro {
    background-color: white;
    border: 1px solid #316CA8;
    color: #316CA8;
}

.btn-claro:hover {
    background-color: #E1ECF8;
    color: #245582;
}

.invitado {
    color: #316CA8;
    text-decoration: none;
    margin-top: 8px;
}

.invitado:hover {
    text-decoration: underline;
}

.ilustracion {
    max-height: 430px;
    object-fit: contain;
    border-radius: 15px;
}

@media (max-width: 767px) {
    .contenido {
        padding: 25px 18px;
    }

    .texto h1 {
        font-size: 2.2rem;
    }

    .ilustracion {
        max-height: 260px;
        margin-top: 25px;
    }
}
.invitado {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    color: #316CA8;
    text-decoration: none;
}

.invitado span {
    font-size: 20px;
    transition: transform 0.3s ease;
}

.invitado:hover span {
    transform: translateX(5px);
}
